<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jamaica Eternal Tours And Transfers Booking</title>
    <script defer src="../js/dist/main.js"></script>

</head>
<body>
    
    <div id="root">
        <script src="https://www.paypal.com/sdk/js?client-id=Aai91fwhUE9HaCXAXnXioeyZCL7cLmG5ndb6KIjUzP5LHHwL2-I0RVlVc6NzVam4y5SYzeglfjYkZnoZ"></script>
    </div>
<script>
      

</script>
</body>
</html>