<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
<link rel="stylesheet" href="css/index.css">
<script defer src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script defer src="../js/main.js"></script>

    <title>Eternal Tours</title>
</head>
<body>
    <header class="header">
        <nav class="header__nav">
            <%- include ("./layouts/navigation") %> 
        </nav>
        <div class="header__content">
            <h1 class="header__content__heading">Eternal Tours</h1>
            <p>  We provide tours and <b><a href="/airport-transfer">airport transfers</a></b></p>
            <div class="header__content-button">Book Now</div>
        </div>
    </header>
    <main>
        <section class="section-bgvideo">
            <video src=""></video>
        </section>
        <section class="section-main-content">
            <div class="content content-1">
                <h3 class="content__heading">Affordable</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem velit rerum esse quasi sequi quidem ea quod qui, vel illo!</p>
                </div>
                <div class="content content-1">
                    <h3 class="content__heading">Intellectual</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem velit rerum esse quasi sequi quidem ea quod qui, vel illo!</p>
                    </div>
                    <div class="content content-1">
                        <h3 class="content__heading">Reliable</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem velit rerum esse quasi sequi quidem ea quod qui, vel illo!</p>
                        </div>
                        <div class="content content-1">
                            <h3 class="content__heading">Safe</h3>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem velit rerum esse quasi sequi quidem ea quod qui, vel illo!</p>
                            </div>
        </section>
        <section class="section-reviews">
        
        </section>

        <section class="section-cards">
            <h2>Most Popular Tours</h2>
<div class="swiper-container">
<h2></h2>
    <div class="swiper-wrapper">
        <% cards.forEach(card => { %>
        <div class=" card swiper-slide">
            <div class=" card-top-<%= card.id %>">
                <h3 class="card-top__heading"><%= card.name %></h3>
            </div>
            <div class="card-btm">
                <ul>
                    <li>Only <%= card.price %></li>
                </ul>
            
                <a class="card-btm__button" href="/book">Book</a>            
            </div>
            </div>
       <% })%>
          
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

</div>
</section>
<section class="section-gallery">
    <div class="gallery">
    <img src="../img/martha-brae.jpg" alt="Martha Brae Jamaica">
    <img src="../img/dunns-river.jpg" alt="Dunns River Jamaica">
    <img src="../img/negril.jpg" alt="Negril Beach Jamaica">
    <img src="../img/blue-mountain.jpg" alt="Blue Mountain Jamaica">
    <img src="../img/blue-hole.jpg" alt="Blue Hole Jamaica">
    <img src="../img/ys-falls.jpg" alt="YS Falls Jamaica">
    <img src="../img/rose-hall.jpg" alt="Rose Hall Jamaica">
    <img src="../img/chukka-atv.jpg" alt="Chukka Atv">

</div>
</section>

    </main>
</body>
</html>