<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
<link rel="stylesheet" href="css/index.css">
<script defer src="../js/main.js"></script>

    <title>Eternal Tours</title>
</head>
<body>
    <header class="header">
        <nav class="header__nav">
            <ul class="header__nav__links">
                <li id="home-link" class="header__nav__links__link"><a href="/">Home</a></li>
                <li id="about_us-link" class="header__nav__links__link"><a href="/aboutus">About Us</a></li>
                <li id="contact_us-link" class="header__nav__links__link"><a href="/contactus">Contact Us</a></li>
            </ul>
        </nav>
        <div class="header__content">
            <p class="header__content__paragraph">Eternal Tours</p>
            <div class="header__content-button">Book Now</div>
        </div>
    </header>
    <main>
        <section class="section-bgvideo">
            <video src=""></video>
        </section>
        <section class="section-cards">
        <!-- Slider main container -->
<div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class=" card swiper-slide">
            <div class="card-top-1">
                <p>ONLY $300</p>
            </div>
            <div class="card-btm">
                <ul>
                    <li>Dunn's River Falls</li>
                    <li>Lorem, ipsum dolor.</li>
                    <li>Lorem, ipsum dolor.</li>
                </ul>
                <a class="card-btm__button" href="/book">Book</a>            </div>
        </div>
        <div class=" card swiper-slide">
            <div class="card-top-2">
                <p>ONLY $300</p>
            </div>
            <div class="card-btm">
                <ul>
                    <li>Lorem, ipsum dolor.</li>
                    <li>Lorem, ipsum dolor.</li>
                    <li>Lorem, ipsum dolor.</li>
                </ul>
                <a class="card-btm__button" href="/book">Book</a>            </div>
        </div>
        <div class=" card swiper-slide">
            <div class="card-top-3">
                <p>ONLY $300</p>
            </div>
            <div class="card-btm">
                <ul>
                    <li>Lorem, ipsum dolor.</li>
                    <li>Lorem, ipsum dolor.</li>
                    <li>Lorem, ipsum dolor.</li>
                </ul>
                <a class="card-btm__button" href="/book">Book</a>            </div>
        </div>
        <div class=" card swiper-slide">
            <div class="card-top-4">
                <p>ONLY $300</p>
            </div>
            <div class="card-btm">
                <ul>
                    <li>Lorem, ipsum dolor.</li>
                    <li>Lorem, ipsum dolor.</li>
                    <li>Lorem, ipsum dolor.</li>
                </ul>
                <a class="card-btm__button" href="/book">Book</a>            </div>
        </div>
        <div class=" card swiper-slide"> 
            <div class="card-top-5">
                <p>ONLY $300</p>
            </div>
        <div class="card-btm">
            <ul>
                <li>Lorem, ipsum dolor.</li>
                <li>Lorem, ipsum dolor.</li>
                <li>Lorem, ipsum dolor.</li>
            </ul>
            <a class="card-btm__button" href="/book">Book</a>        </div></div>
        <div class=" card swiper-slide">
            <div class="card-top-6">
                <p>ONLY $300</p>
            </div>
            <div class="card-btm">
                <ul>
                    <li>Lorem, ipsum dolor.</li>
                    <li>Lorem, ipsum dolor.</li>
                    <li>Lorem, ipsum dolor.</li>
                </ul>
                <a class="card-btm__button" href="/book">Book</a>
            </div>
        </div>
    </div>

    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

</div>
</section>
<section class="section-gallery">
<div class="gallery gallery-1">
    <img src="../img/martha-brae.jpg" alt="Martha Brae Jamaica">
    <img src="../img/dunns-river.jpg" alt="Dunns River Jamaica">
    <img src="../img/negril.jpg" alt="Negril Beach Jamaica">
    <img src="../img/blue-mountain.jpg" alt="Blue Mountain Jamaica">
</div>
<div class="gallery gallery-2">
    <img src="../img/blue-hole.jpg" alt="Blue Hole Jamaica">
    <img src="../img/ys-falls.jpg" alt="YS Falls Jamaica">
    <img src="../img/rose-hall.jpg" alt="Rose Hall Jamaica">
</div>
</section>
    </main>
<script  src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script >
        const mySwiper = new Swiper('.swiper-container', {
  // Optional parameters
  direction: 'horizontal',
speed : 1000,

  slidesPerView: 3,
  spaceBetween: 10,
  slidesPerGroup: 3,
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev'
  },

})
    </script>
</body>
</html>