<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
<link rel="stylesheet" href="css/index.css">


    <title>Eternal Tours</title>
</head>
<body>
    <header class="header">
        <nav class="header__nav">
            <ul class="header__nav__links">
                <li id="home-link" class="header__nav__links__link"><a href="/">Home</a></li>
                <li id="about_us-link" class="header__nav__links__link"><a href="/aboutus">About Us</a></li>
                <li id="contact_us-link" class="header__nav__links__link"><a href="/contactus">Contact Us</a></li>
            </ul>
        </nav>
        <div class="header__content">
            <p class="header__content__paragraph">Eternal Tours</p>
            <div class="header__content-button">Discover Now</div>
        </div>
    </header>
    <main>
        <section class="section-bgvideo">
            <video src=""></video>
        </section>
        <!-- Slider main container -->
<div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">Slide 1</div>
        <div class="swiper-slide">Slide 2</div>
        <div class="swiper-slide">Slide 3</div>
        ...
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
</div>
        <!-- <section class="section-cards">
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
        </section> -->
    </main>
    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
<script  src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script >
        const mySwiper = new Swiper('.swiper-container', {
  // Optional parameters
  direction: 'vertical',
  loop: true,

//   If we need pagination
  pagination: {
    el: '.swiper-pagination',
  },

//   Navigation arrows
  navigation: {
    nextEl: '.section-cards',
  },

//   And if we need scrollbar
  scrollbar: {
    el: '.swiper-scrollbar',
  },
})
    </script>
</body>
</html>