<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../css/transfer.css">
    <title>Eternal Tours And Airport Transfers</title>

</head>
<body>
    <header class="header">
        <nav class="header__nav">
            <%- include ("layouts/navigation") %> 
        </nav>
        <div class="header__content">
            <h1 class="header__content__paragraph">Eternal Airport Transfer</h1>
            <p>  We provide Airport Transfer and <b><a href="/">tours</a></b></p>
            <div class="header__content-button">Book Now</div>
        </div>
    </header>
    <main>
        <section class="section-services">
            <div class="services">
                    <h1 class="services__heading">Our Shuttle Services</h1>
                    <h2> There are numerous shuttle services to choose from, so why use Eternal Tours and Airport Transfers.</h2>
                <p class="services__content" >
                   We pride ourselves in having safe, reliable and enjoyable 
                travel . We value your safety and ensure that you are always comfortable.
                When you arrive there will be no hassle. We guarantee a smooth transition from airport to hotel.                
               We decided that our passengers should not wait for shuttles but have the shuttles wait for them.
            </p>
                <p class="services__content">As a customer you would think for a service like this it would be for a hefty price
                    but for us , this is just not the case. We offer high quality for a low price. When you have experienced Eternal Tours and Airport Transfers you will be <b>Eternally pleased.</b>
                </p>

            </div>
        </section>
        <section class="section-transfers">
            <h3>Most Popular Hotels </h3>
            <div class="hotels">
               <% hotels.forEach((hotel) => {%>
                   <div class="hotels__hotel ">
                       <div class="hotels__hotel__name">
                           <span class="right-arrow"></span>
                        <span><%= hotel.name %></span>
                       </div>
                       <ul class="hotels__hotel__description hotels-hide-description">
                           <li>$<%= hotel.smallPrice %> : 1- 4  passengers traveling as a private group  </li>
                           <li>$<%= hotel.largePrice%>  : 5- 9 passengers traveling as a private group </li>
                       </ul>
                   </div>
               <%})%>
            </div>
 
        </section>
    </main>
    <script>
        const hotelsContainer = document.querySelectorAll(".hotels__hotel");
        const hotelsDescription = document.querySelectorAll(".hotels__hotel__description");
        const rightArrow = document.querySelectorAll(".right-arrow");

        let i = 1;
        hotelsContainer.forEach((hotelContainer,index) => {
            // rightArrow[index].style.clipPath = "polygon(49% 92%, 10% 36%, 89% 35%)"
            hotelContainer.addEventListener("click",() => {
                
                hotelContainer.classList.toggle("hotels-height");
                hotelsDescription[index].classList.toggle("hotels-hide-description");
                if( i === 1) {
                    rightArrow[index].style.clipPath = "polygon(10% 21%, 48% 89%, 94% 21%)";
                    i++
                }
                else  {
                    rightArrow[index].style.clipPath = "polygon(15% 14%, 15% 93%, 84% 57%)";
                    i = 1;
                }
            })
                
        })
    </script>

</body>
</html>