<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../css/transfer.css">
    <title>Jamaica Eternal Tours And Airport Transfers</title>
    <script src="../js/transfer.js" defer></script>
    <script src="../js/header.js" defer></script>
    <style>
        .services__content{line-height: 3.5rem;}
        h2{text-align: center;}
    </style>
</head>
<body>
    <header class="header">
        <div class="burger">
            <div class="burger__stroke"></div>
            <div class="burger__stroke"></div>
            <div class="burger__stroke"></div>
        </div>
        <nav class="header__nav">
            <%- include ("layouts/navigation") %> 
        </nav>
        <div class="header__content">
            <h1 class="header__content__heading">Jamaica Eternal Airport Transfer</h1>
            <h2 class="header__content__heading2">  We provide Airport Transfer and <b><a href="/">tours</a></b></h2>
            <div class="header__content-button">Book Now</div>
        </div>
    </header>
    <main>
        <section class="section-services">
            <div class="services">
                    <h1 style="font-size: 3rem;" class="services__heading">Our Shuttle Services</h1>
                    <h2> There are numerous shuttle services to choose from, so why use Eternal Tours and Airport Transfers.</h2>
                <p class="services__content" >
                   We pride ourselves in having safe, reliable and enjoyable 
                travel . We value your safety and ensure that you are always comfortable.
                When you arrive there will be no hassle. We guarantee a smooth transition from airport to hotel.                
               We decided that our passengers should not wait for shuttles but have the shuttles wait for them.
            </p>
                <p class="services__content">As a customer you would think for a service like this it would be for a hefty price
                    but for us , this is just not the case. We offer high quality for a low price. When you have experienced Eternal Tours and Airport Transfers you will be <b>Eternally pleased.</b>
                </p>

            </div>
        </section>
        <section class="section-transfers">
            <h3>Most Popular Hotels </h3>
            <div class="hotels">
               <% hotels.forEach((hotel) => {%>
                   <div class="hotels__hotel ">
                       <div class="hotels__hotel__name">
                           <span class="right-arrow"></span>
                        <span><%= hotel.name %></span>
                       </div>
                       <ul style="font-family: 'Helvitica', sans-serif;" class="hotels__hotel__description hotels-hide-description">
                           <li>$<%= hotel.smallPrice %> USD : 1- 4  passengers traveling as a private group  </li>
                           <li>$<%= hotel.largePrice%> USD <b>(per person)</b>  : 5- 9 passengers traveling as a private group </li>
                           <li>Groups of 10 or more please contact us for info on the group rate </li>
                           <li class="hotels__hotel__payment-btn">Book</li>
                        </ul>
                   </div>
               <%})%>
            </div>
            <p style="margin:4rem; text-align: center;font-weight: bold;">Please note that major currencies accepted : £, €, CA$ & USD *</p>

 
        </section>
    </main>
    <script>
      
    </script>

</body>
</html>