<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../css/transfer.css">
    <title>Eternal Tours And Airport Transfers</title>

</head>
<body>
    <header class="header">
        <nav class="header__nav">
            <%- include ("layouts/navigation") %> 
        </nav>
        <div class="header__content">
            <h1 class="header__content__paragraph">Eternal Airport Transfer</h1>
            <p style="padding: 1rem;letter-spacing: 0.3rem;">  We provide Airport Transfer and <a style="color:rgb(67, 67, 207);" href="/">tours</a></p>
            <div class="header__content-button">Book Now</div>
        </div>
    </header>
    <main>
        <section class="">
            
        </section>
    </main>
</body>
</html>