* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none; }

html {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 62.5%;
  list-style: none;
  color: #fff;
  overflow-x: hidden; }

body {
  font-size: 2rem;
  padding: 2rem;
  overflow-x: hidden; }

a {
  color: #fff; }

li {
  padding: 1rem; }

#home-link {
  margin-right: auto; }

.header__nav__links {
  display: flex;
  justify-content: center;
  padding: 2rem;
  position: relative; }
  .header__nav__links__link {
    margin: 1rem; }

.header__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  white-space: nowrap; }
  .header__content__heading {
    font-weight: 600;
    font-size: 3rem;
    letter-spacing: 0.2rem;
    margin: 2rem; }
  .header__content__heading2 {
    font-size: 1.8rem; }

@media (max-width: 1175px) {
  .header {
    height: 50vh;
    clip-path: none !important; }
    .header__nav__links {
      display: block;
      position: absolute;
      top: 5rem;
      right: 1rem;
      background-color: #fff;
      color: #000;
      z-index: 2;
      height: min-content;
      box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.3);
      border-radius: 0.4rem;
      transform: translateX(35rem);
      transition: transform 400ms; }
      .header__nav__links__link a {
        color: #666666; }
  .navbar-toggle {
    transform: translateX(0rem); }
  .burger {
    position: absolute;
    padding: 0.5rem;
    right: 2rem;
    top: 1rem; }
    .burger .burger__stroke {
      width: 4rem;
      height: 0.5rem;
      background-color: #fff;
      margin: 0.5rem; } }

.section-main-content {
  display: grid;
  margin-bottom: 5rem;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem; }

.content {
  background-color: #2f3640;
  color: #fff;
  box-shadow: 0.2rem 0.4rem 1rem rgba(0, 0, 0, 0.2);
  padding: 2rem;
  border-radius: 6px;
  transform: scale(1);
  transition: transform 400ms; }
  .content__heading {
    text-align: center;
    margin-bottom: 3rem;
    color: #2ed573; }
  .content:hover {
    transform: scale(1.04); }

@media (max-width: 900px) {
  .section-main-content {
    grid-template-columns: repeat(2, 1fr); } }

@media (max-width: 550px) {
  .section-main-content {
    grid-template-columns: 1fr; } }

.header {
  margin-bottom: 10rem;
  background-image: linear-gradient(to top, rgba(9, 32, 63, 0.8) 0%, rgba(83, 120, 149, 0.8) 100%), url("../img/hero-about-us.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  height: 90vh;
  position: relative; }
  .header__content-button {
    padding: 0.8rem;
    border-radius: 0.4rem;
    margin: 2rem auto;
    box-shadow: 0.2rem 0.4rem 1rem rgba(0, 0, 0, 0.2);
    background: #182c61;
    cursor: pointer;
    width: 22rem;
    transition: transform 400ms; }
    .header__content-button:hover {
      transform: translateY(-0.5rem); }

.section-services {
  margin-top: 15rem;
  color: #2c3a47;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.services {
  max-height: 100vh;
  font-size: 1.7rem;
  letter-spacing: 0.12rem;
  line-height: 2.7rem;
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.178);
  width: 80%;
  padding: 4rem;
  border-radius: 0.5rem; }
  .services h2 {
    margin-bottom: 3rem;
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
    grid-column: span 2; }
  .services__heading {
    text-align: center;
    padding: 3rem;
    font-size: 4rem;
    color: #182c61;
    white-space: nowrap; }
  .services__content {
    margin-bottom: 2rem; }

.services__content {
  grid-column: span 2; }

.services__image {
  width: 20rem; }

@media (max-width: 650px) {
  .services {
    overflow-y: scroll;
    height: 50vh;
    width: 100%;
    padding: 2rem; } }

@media (max-width: 400px) {
  .services__heading {
    font-size: 1.8rem; }
  .services h2 {
    font-size: 1.5rem; } }

.section-cofounder {
  color: #000;
  margin-top: 10rem; }

.cofounder {
  padding: 4rem;
  background-color: #182c61;
  color: #fff;
  min-height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .cofounder__content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 0 auto; }
  .cofounder__image {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    shape-outside: circle(50%);
    float: left;
    margin-right: 2rem;
    border: 3px solid #fff; }
  .cofounder__footer {
    font-size: 1.2rem;
    margin-top: 4rem; }

.cofounder__footer__heading {
  margin-bottom: 1rem; }

.cofounder__footer__description {
  color: #b1b1b1; }

@media (max-width: 650px) {
  .cofounder__content {
    width: 100%; }
    .cofounder__content p {
      overflow-y: scroll;
      height: 70vh; } }

@media (max-width: 950px) {
  .cofounder__content {
    flex-direction: column; }
    .cofounder__content img {
      margin: 0;
      margin-bottom: 2rem; } }
