@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none; }

html {
  font-family: 'Open Sans','Arial',sans-serif;
  font-weight: 300;
  font-size: 62.5%;
  list-style: none;
  color: #fff; }

body {
  font-size: 2rem;
  padding: 2rem; }

a {
  color: #fff; }

#home-link {
  margin-right: auto; }

.header__nav__links {
  display: flex;
  justify-content: center;
  padding: 2rem; }
  .header__nav__links__link {
    margin: 1rem; }

.header__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }
  .header__content__paragraph {
    font-weight: 600;
    font-size: 3rem;
    letter-spacing: 1rem;
    border: 4px solid;
    padding: 1rem;
    margin: 1rem; }

.header {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.7), rgba(40, 180, 133, 0.8)), url("../img/hero.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  height: 90vh;
  position: relative; }
  .header__content-button {
    padding: 1rem;
    border-radius: 0.4rem;
    margin: 2rem auto;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
    background: linear-gradient(to right bottom, rgba(126, 213, 111, 0.7), rgba(40, 180, 133, 0.8));
    cursor: pointer;
    width: 60%;
    transition: transform 400ms; }
    .header__content-button:hover {
      transform: translateY(-0.5rem); }

.card {
  width: 15rem;
  background-color: #fff;
  height: 90%;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
  color: lightgrey;
  font-size: 1.5rem;
  text-align: center; }

.card-top-1 {
  height: 50%;
  margin-bottom: auto;
  background-size: cover;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/dunns-river.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 2rem; }

.card-top-2 {
  height: 50%;
  margin-bottom: auto;
  background-size: cover;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/martha-brae.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 2rem; }

.card-top-3 {
  height: 50%;
  margin-bottom: auto;
  background-size: cover;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/negril.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 2rem; }

.card-top-4 {
  height: 50%;
  margin-bottom: auto;
  background-size: cover;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/blue-mountain.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 2rem; }

.card-top-5 {
  height: 50%;
  margin-bottom: auto;
  background-size: cover;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/rose-hall.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 2rem; }

.card-top-6 {
  height: 50%;
  margin-bottom: auto;
  background-size: cover;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/ys-falls.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 2rem; }

.card-btm {
  padding-bottom: 3rem;
  margin-top: 2rem; }
  .card-btm p {
    border-bottom: 1px solid lightgrey;
    padding: 1rem;
    font-weight: bold; }
  .card-btm__button {
    background-color: #74b9ff;
    padding: 1rem;
    border-radius: 0.4rem;
    margin: 2rem auto;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
    background: linear-gradient(to right bottom, rgba(126, 213, 111, 0.7), rgba(40, 180, 133, 0.8));
    cursor: pointer;
    width: 60%;
    transition: transform 400ms;
    color: #fff;
    display: block;
    margin-top: 7rem; }
    .card-btm__button:hover {
      transform: translateY(-0.5rem); }

.card-top__img {
  width: 90%;
  padding: 1rem; }

.swiper-container {
  width: 85%;
  height: 60rem; }

.section-gallery {
  height: 80vh; }

.gallery {
  display: flex;
  justify-content: center; }
  .gallery img {
    width: 20%;
    height: 20rem;
    margin: 1rem;
    transition: transform 400ms;
    cursor: pointer; }
    .gallery img:hover {
      transform: scale(1.1); }

@media (max-width: 800px) {
  .gallery {
    flex-direction: column;
    align-items: center; }
    .gallery img {
      width: 65%;
      height: 23rem; } }
