* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none; }

html {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 62.5%;
  list-style: none;
  color: #fff;
  overflow-x: hidden; }

body {
  font-size: 2rem;
  padding: 2rem;
  overflow-x: hidden; }

a {
  color: #fff; }

li {
  padding: 1rem; }

#home-link {
  margin-right: auto; }

.header__nav__links {
  display: flex;
  justify-content: center;
  padding: 2rem;
  position: relative; }
  .header__nav__links__link {
    margin: 1rem; }

.header__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  white-space: nowrap; }
  .header__content__heading {
    font-weight: 600;
    font-size: 4rem;
    letter-spacing: 0.2rem;
    margin: 2rem; }
  .header__content__heading2 {
    font-size: 2rem; }

@media (max-width: 1175px) {
  .header {
    height: 50vh;
    clip-path: none !important; }
    .header__nav__links {
      display: block;
      position: absolute;
      top: 5rem;
      right: 1rem;
      background-color: #fff;
      color: #000;
      z-index: 2;
      height: min-content;
      box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.3);
      border-radius: 0.4rem;
      transform: translateX(35rem);
      transition: transform 400ms; }
      .header__nav__links__link a {
        color: #666666; }
  .navbar-toggle {
    transform: translateX(0rem); }
  .burger {
    position: absolute;
    padding: 0.5rem;
    right: 2rem;
    top: 1rem;
    cursor: pointer; }
    .burger .burger__stroke {
      width: 4rem;
      height: 0.5rem;
      background-color: #fff;
      margin: 0.5rem; } }

.section-main-content {
  display: grid;
  margin-bottom: 5rem;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem; }

.content {
  background-color: #2f3640;
  color: #fff;
  box-shadow: 0.2rem 0.4rem 1rem rgba(0, 0, 0, 0.2);
  padding: 2rem;
  border-radius: 6px;
  transform: scale(1);
  transition: transform 400ms; }
  .content__heading {
    text-align: center;
    margin-bottom: 3rem;
    color: #2ed573; }
  .content:hover {
    transform: scale(1.04); }

@media (max-width: 900px) {
  .section-main-content {
    grid-template-columns: repeat(2, 1fr); } }

@media (max-width: 550px) {
  .section-main-content {
    grid-template-columns: 1fr; } }

.header {
  margin-bottom: 10rem;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.7), rgba(40, 180, 133, 0.8)), url("../img/hero-opt.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  height: 90vh;
  position: relative; }

@media (max-width: 530px) {
  .header__content__heading {
    font-size: 3rem; }
  .header__content__heading2 {
    font-size: 1.5rem; } }

@media (max-width: 420px) {
  .header__content__heading {
    font-size: 2rem; }
  .header__content__heading2 {
    font-size: 1.4rem; } }

@media (max-width: 380px) {
  .header__content__heading2 {
    font-size: 1.2rem; } }

@media (max-width: 320px) {
  .header__content__heading {
    font-size: 1.5rem; }
  .header__content__heading2 {
    font-size: 1rem; } }

.section-bgvideo {
  margin: 3rem;
  text-align: center; }

.video-wrapper {
  height: 30rem;
  overflow: hidden; }
  .video-wrapper video {
    border: none;
    outline: none; }

@media (max-width: 550px) {
  .video-wrapper {
    height: 20rem; } }

@media (max-width: 420px) {
  .video-wrapper {
    display: none; } }

.section-cards {
  text-align: center;
  width: 100%;
  margin: 10rem auto; }
  .section-cards h2 {
    color: #2ed573; }

h2 {
  margin: 2rem;
  text-align: center; }

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  height: min-content;
  color: #2ed573;
  text-align: center; }

.cards__card {
  background-color: #fff;
  height: 45rem;
  box-shadow: 0.2rem 0.4rem 1rem rgba(0, 0, 0, 0.2);
  font-size: 1.5rem;
  position: relative;
  width: 85%;
  margin: 0 auto; }

.card-top-1 {
  height: 50%;
  margin-bottom: auto;
  background-size: cover;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/dunns-river-opt.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 2rem; }

.card-top-2 {
  height: 50%;
  margin-bottom: auto;
  background-size: cover;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/martha-brae.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 2rem; }

.card-top-3 {
  height: 50%;
  margin-bottom: auto;
  background-size: cover;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/negril.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 2rem; }

.card-top-4 {
  height: 50%;
  margin-bottom: auto;
  background-size: cover;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/blue-mountain-opt.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 2rem; }

.card-top-6 {
  height: 50%;
  margin-bottom: auto;
  background-size: cover;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/ys-falls.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 2rem; }

.card-top-7 {
  height: 50%;
  margin-bottom: auto;
  background-size: cover;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/chukka-atv.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 2rem; }

.card-btm {
  padding-bottom: 3rem;
  margin-top: 2rem; }
  .card-btm p:first-child {
    font-weight: bold;
    font-size: 1.7rem;
    padding: 1rem;
    text-align: center;
    letter-spacing: 0.1rem; }
  .card-btm__link {
    display: block;
    text-align: center;
    color: #acacac;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem; }
  .card-btm__button {
    padding: 0.8rem;
    border-radius: 0.4rem;
    margin: 2rem auto;
    box-shadow: 0.2rem 0.4rem 1rem rgba(0, 0, 0, 0.2);
    background: #eeff00;
    cursor: pointer;
    width: 22rem;
    transition: transform 400ms;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #3366d3;
    font-weight: 600;
    display: block;
    bottom: 7rem;
    text-align: center; }
    .card-btm__button:hover {
      transform: translateY(-0.5rem); }
    .card-btm__button:hover {
      transform: translate(-50%, -0.5rem); }

.card-top__img {
  width: 90%;
  padding: 1rem; }

@media (max-width: 900px) {
  .cards {
    grid-template-columns: 1fr 1fr; } }

@media (max-width: 700px) {
  .cards {
    grid-template-columns: 1fr; }
  .cards__card {
    width: 80%;
    margin: 0 auto; } }

.section-gallery {
  height: 80vh; }

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem; }
  .gallery img {
    width: 100%;
    height: 20rem;
    transition: transform 400ms;
    cursor: pointer; }
    .gallery img:hover {
      transform: scale(1.05); }

@media (max-width: 800px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr); } }

@media (max-width: 400px) {
  .gallery {
    grid-template-columns: 1fr; } }
