@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none; }

html {
  font-family: 'Open Sans','Arial',sans-serif;
  font-weight: 300;
  font-size: 62.5%;
  list-style: none;
  color: #fff; }

body {
  font-size: 2rem;
  padding: 2rem; }

a {
  color: #fff; }

#home-link {
  margin-right: auto; }

.header__nav__links {
  display: flex;
  justify-content: center;
  padding: 2rem; }
  .header__nav__links__link {
    margin: 1rem; }

.header__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }
  .header__content__paragraph {
    font-weight: 600;
    font-size: 3rem;
    letter-spacing: 1rem;
    border: 4px solid;
    padding: 1rem;
    margin: 1rem; }

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/hero-airport.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  height: 90vh;
  position: relative; }
  .header__content-button {
    color: #a7a7a7;
    padding: 1rem;
    border-radius: 0.4rem;
    margin: 2rem auto;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
    background: linear-gradient(white, white);
    cursor: pointer;
    width: 60%;
    transition: transform 400ms; }
    .header__content-button:hover {
      transform: translateY(-0.5rem); }

h2 {
  margin-bottom: 3rem;
  font-weight: 600;
  font-size: 2rem; }

.services {
  color: #525252;
  margin-top: 5rem;
  font-size: 1.8rem;
  letter-spacing: 0.12rem;
  line-height: 2.7rem; }
  .services__heading {
    text-align: center;
    padding: 3rem;
    font-size: 4rem;
    color: #525252; }
  .services__content {
    margin-bottom: 2rem; }

main {
  color: #525252; }

h3 {
  text-align: center;
  font-size: 3rem; }

.hotels {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem 4rem; }
  .hotels__hotel {
    padding: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.418);
    background-color: #fff;
    color: #000;
    border-radius: 1rem; }
    .hotels__hotel__name {
      text-align: center; }

.hotels__hotel__description {
  height: 0;
  opacity: 0; }
  .hotels__hotel__description li {
    padding: 1rem; }
