* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none; }

html {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 62.5%;
  list-style: none;
  color: #fff;
  overflow-x: hidden; }

body {
  font-size: 2rem;
  padding: 2rem;
  overflow-x: hidden; }

a {
  color: #fff; }

li {
  padding: 1rem; }

#home-link {
  margin-right: auto; }

.section-main-content {
  display: grid;
  margin-bottom: 5rem;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem; }

.content {
  background-color: #2f3640;
  color: #fff;
  box-shadow: 0.2rem 0.4rem 1rem rgba(0, 0, 0, 0.2);
  padding: 2rem;
  border-radius: 6px;
  transform: scale(1);
  transition: transform 400ms; }
  .content__heading {
    text-align: center;
    margin-bottom: 3rem;
    color: #2ed573; }
  .content:hover {
    transform: scale(1.04); }

@media (max-width: 900px) {
  .section-main-content {
    grid-template-columns: repeat(2, 1fr); } }

@media (max-width: 550px) {
  .section-main-content {
    grid-template-columns: 1fr; } }

.header__nav__links {
  display: flex;
  justify-content: center;
  padding: 2rem;
  position: relative; }
  .header__nav__links__link {
    margin: 1rem; }

.header__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  white-space: nowrap; }
  .header__content__heading {
    font-weight: 600;
    font-size: 4rem;
    letter-spacing: 0.2rem;
    margin: 2rem; }
  .header__content__heading2 {
    font-size: 2rem; }

@media (max-width: 1175px) {
  .header {
    height: 50vh;
    clip-path: none !important; }
    .header__nav__links {
      display: block;
      position: absolute;
      top: 5rem;
      right: 1rem;
      background-color: #fff;
      color: #000;
      z-index: 2;
      height: min-content;
      box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.3);
      border-radius: 0.4rem;
      transform: translateX(35rem);
      transition: transform 400ms; }
      .header__nav__links__link a {
        color: #666666; }
  .navbar-toggle {
    transform: translateX(0rem); }
  .burger {
    position: absolute;
    padding: 0.5rem;
    right: 2rem;
    top: 1rem;
    cursor: pointer; }
    .burger .burger__stroke {
      width: 4rem;
      height: 0.5rem;
      background-color: #fff;
      margin: 0.5rem; } }

.header {
  background-image: linear-gradient(to right bottom, rgba(20, 136, 204, 0.7), rgba(43, 50, 178, 0.8)), url("../img/hero-airport.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  height: 90vh;
  position: relative; }

@media (max-width: 770px) {
  .header__content__heading {
    font-size: 3rem; } }

@media (max-width: 580px) {
  .header__content__heading {
    font-size: 2.5rem; }
  .header__content__heading2 {
    font-size: 1.7rem; } }

@media (max-width: 520px) {
  .header__content__heading {
    font-size: 2rem;
    letter-spacing: 0.1rem; }
  .header__content__heading2 {
    font-size: 1.5rem;
    letter-spacing: 0.1rem; } }

@media (max-width: 450px) {
  .header__content__heading {
    font-size: 1.5rem; }
  .header__content__heading2 {
    font-size: 1rem; } }

.section-gallery {
  margin-top: 8rem;
  height: min-content;
  margin-bottom: 5rem; }

.sub-heading {
  margin: 4rem;
  padding: 4rem;
  color: #40739e;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  font-size: 3rem; }

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem; }
  .gallery__card {
    height: 45rem;
    box-shadow: 0.2rem 0.4rem 1rem rgba(0, 0, 0, 0.2);
    position: relative; }
    .gallery__card h2 {
      font-size: 1.8rem;
      background-color: #192a56;
      box-shadow: 1rem 0 1rem rgba(0, 0, 0, 0.205);
      color: #fff;
      padding: 1rem;
      width: 90%;
      top: 38%;
      position: absolute;
      left: 50%;
      transform: translateX(-50%); }
  .gallery img {
    width: 100%;
    height: 20rem; }

.gallery__card__content {
  margin-top: 4rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }
  .gallery__card__content__btns {
    text-align: center;
    font-size: 1.5rem;
    padding: 0.7rem 1rem;
    cursor: pointer;
    width: 80%;
    margin: 1rem auto;
    border-radius: 0.5rem; }
  .gallery__card__content .card-pricings-btn {
    background-color: #718093; }
  .gallery__card__content .card-book-btn {
    font-size: 1.8rem;
    background-color: #0097e6;
    box-shadow: 0.2rem 0.4rem 1rem rgba(0, 0, 0, 0.2); }

@media (max-width: 1100px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr); } }

@media (max-width: 800px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr); } }

@media (max-width: 550px) {
  .gallery {
    grid-template-columns: 1fr; }
    .gallery__card {
      width: 80%;
      margin: 0 auto; } }

h3 {
  text-align: center; }

.hotels {
  margin-top: 15rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 7rem 4rem; }
  .hotels h3 {
    font-size: 3rem; }
  .hotels__hotel {
    transition: height 350ms ease-out;
    box-shadow: 0.2rem 0.4rem 1rem rgba(0, 0, 0, 0.2);
    height: 5rem;
    border-radius: 0.5rem; }
    .hotels__hotel__name {
      border-radius: 0.5rem;
      padding: 1rem;
      text-align: center;
      background-color: #487eb0;
      color: #fff;
      position: relative;
      cursor: pointer; }

.hotels__hotel__payment-btn {
  background-color: #0097e6;
  padding: 1rem;
  color: #fff;
  border-radius: 1rem;
  box-shadow: 0.2rem 0.4rem 1rem rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 1rem;
  animation: shake 200ms 3 ease-in 1s; }

@keyframes shake {
  0% {
    transform: translateX(-1rem); }
  50% {
    transform: translateX(1rem); }
  100% {
    transform: translateX(0rem); } }

span {
  display: inline-block; }

.right-arrow {
  background-color: #fff;
  width: 2.5rem;
  height: 2.5rem;
  clip-path: polygon(15% 14%, 15% 93%, 84% 57%); }

.down-arrow {
  clip-path: polygon(10% 21%, 48% 89%, 94% 21%) !important; }

.hotels__hotel__description {
  margin-top: 1rem;
  color: #000;
  font-size: 1.7rem;
  padding: 1rem; }

.hotels-height {
  height: 34rem; }

.hotels-hide-description {
  display: none; }

@media (max-width: 1175px) {
  .hotels {
    grid-template-columns: repeat(2, 1fr); } }

@media (max-width: 670px) {
  .hotels {
    grid-template-columns: 1fr; } }

@media (max-width: 380px) {
  .hotels-height {
    height: min-content; } }

::-webkit-scrollbar {
  width: 15px;
  border-radius: 10px; }

::-webkit-scrollbar-track {
  width: 100%;
  background-color: #1488cc; }

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #2b32b2);
  border-radius: 10rem; }
