<section class="section-main-content">
    <div class="content content-1">
        <h3 class="content__heading">Affordable</h3>
        <p> Here at Jamaica Eternal Tours And Transportation we evaluate the prices from other tour agencies 
            to ensure our prices are as low as possible.
        </p>
        </div>
        <div class="content content-1">
            <h3 class="content__heading">Intellectual</h3>
            <p>We have realised that many tourists want a deep dive in Jamaican Culture that many 
            other agencies might not provide but fortunately we do.</p>
            </div>
            <div class="content content-1">
                <h3 class="content__heading">Reliable</h3>
                <p>One of our many sayings is "Our passengers should not wait for shuttles but have the shuttles wait for them". We are always on time.</p>
                </div>
                <div class="content content-1">
                    <h3 class="content__heading">Safe</h3>
                    <p>We take great pride in our customers health especially in this pandemic.
                    All of our vehicles are electrostatically cleaned prior our pickup time.</p>
                    </div>
</section>