<header class="header">
    <div class="burger">
        <div class="burger__stroke"></div>
        <div class="burger__stroke"></div>
        <div class="burger__stroke"></div>
    </div>
    <nav class="header__nav">
        <%- include ("./navigation") %> 
    </nav>
    <div class="header__content">
        <h1 class="header__content__heading">Jamaica Eternal Airport Transfer</h1>
        <h2 style="font-size: 1.4rem;" class="header__content__heading2">  We provide Private Airport Transfer and Tours</h2>
        <div class="header__content-button">Book Now</div>
    </div>
</header>