<ul class="header__nav__links">
    <li id="home-link" class="header__nav__links__link"><a href="/">Home</a></li>
    <li id="book_tour-link" class="header__nav__links__link"><a href="/book">Book Tour</a></li>
    <li id="book_trans-link" class="header__nav__links__link"><a href="/airport-transfer">Airport Transfers</a></li>
    <li id="about_us-link" class="header__nav__links__link"><a href="/aboutus">About Us</a></li>
    <li id="contact_us-link" class="header__nav__links__link"><a href="/contactus">Contact Us</a></li>

</ul>