@import "../base/base.scss";
@import "../abstracts/mixins.scss";
@import "../components/header.scss";
@import "../components/features.scss";
.header {
  margin-bottom: 10rem;
  @include header-style(
    linear-gradient(
      to top,
      rgba(9, 32, 63, 0.8) 0%,
      rgba(83, 120, 149, 0.8) 100%
    ),
    url("../img/hero-about-us.jpg")
  );
  &__content-button {
    @include button-default(#182c61);
  }
}

// Services Component
.section-services {
  margin-top: 15rem;
  color: #2c3a47;
  @include centerFlexy;
  flex-direction: column;
}

.services {
  max-height: 100vh;
  font-size: 1.7rem;
  letter-spacing: 0.12rem;
  line-height: 2.7rem;
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.178);
  width: 80%;
  padding: 4rem;
  border-radius: 0.5rem;
  & h2 {
    margin-bottom: 3rem;
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
    grid-column: span 2;
  }
  &__heading {
    text-align: center;
    padding: 3rem;
    font-size: 4rem;
    color: #182c61;
    white-space: nowrap;
  }
  &__content {
    margin-bottom: 2rem;
  }
}
.services__content {
  grid-column: span 2;
}
.services__image {
  width: 20rem;
}
@media (max-width: 650px) {
  .services {
    overflow-y: scroll;
    height: 50vh;
    width: 100%;
    padding: 2rem;
  }
}
@media (max-width: 400px) {
  .services__heading {
    font-size: 1.8rem;
  }
  .services h2 {
    font-size: 1.5rem;
  }
}
// Cofounder Section

.section-cofounder {
  color: #000;
  margin-top: 10rem;
}
.cofounder {
  padding: 4rem;
  background-color: #182c61;
  color: #fff;
  min-height: 45vh;
  @include centerFlexy;
  flex-direction: column;
  &__content {
    @include centerFlexy;
    width: 80%;
    margin: 0 auto;
  }
  &__image {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    margin-right: 2rem;
    border: 3px solid #fff;
  }
  &__footer {
    font-size: 1.2rem;
    margin-top: 2rem;
  }
}
.cofounder__footer {
  &__heading {
    margin-bottom: 1rem;
  }
  &__description {
    color: rgb(177, 177, 177);
  }
}

.check-reviews {
  margin-top: 0.2rem;
  margin-left: auto;
  @include centerFlexy;
  & img {
    width: 10rem;
    height: 10rem;
    margin: 0.5rem;
  }
}
@media (max-width: 650px) {
  .cofounder__content {
    width: 100%;
    & p {
      overflow-y: scroll;
      height: 70vh;
    }
  }
}
@media (max-width: 950px) {
  .cofounder__content {
    flex-direction: column;
    & img {
      margin: 0;
      margin-bottom: 2rem;
    }
  }
}
