@import "../base/base.scss";
@import "../abstracts/mixins.scss";


@import "../components/header.scss";

.header{
    @include header-style(linear-gradient(to right bottom,rgba(126,213,111,0.7), rgba(40,180,133,0.8)),url("../img/hero.jpg"));
&__content-button{
    @include button-default(linear-gradient(to right bottom,rgba(126,213,111,0.7), rgba(40,180,133,0.8)));
}
}

// Card Component

.card{
    width: 15rem;
    background-color: $base-color;
    height:90%;
    box-shadow: 0 0 0.5rem rgba(0,0,0,0.4);
    border-radius: 1rem;
    color:lightgrey;
    font-size: 1.5rem;
    text-align: center;
}
.card-top-1{@include card-top-style("../img/dunns-river.jpg");}
.card-top-2{@include card-top-style("../img/martha-brae.jpg");}
.card-top-3{@include card-top-style("../img/negril.jpg");}
.card-top-4{@include card-top-style("../img/blue-mountain.jpg");}
.card-top-5{@include card-top-style("../img/rose-hall.jpg");}
.card-top-6{@include card-top-style("../img/ys-falls.jpg");}

.card-btm{
    padding-bottom: 3rem;
    margin-top: 2rem;
    & p{
        border-bottom: 1px solid lightgrey;
        padding: 1rem;
        font-weight: bold;
    }
    &__button{
        background-color: #74b9ff;
        @include button-default(linear-gradient(to right bottom,rgba(126,213,111,0.7), rgba(40,180,133,0.8)));
        color:$base-color;
        display: block;
        margin-top: 7rem;
        
    }
}
.card-top__img{
    width: 90%;
    padding: 1rem;
}
.swiper-container{
    width: 85%;
    height: 60rem;
}

//  Gallery Component
.section-gallery{
    height: 80vh;
}
.gallery{
    display:flex;
    justify-content: center;
    & img{
        width:20%;
        height: 20rem;
        margin: 1rem;
        transition: transform 400ms;
        cursor: pointer;
        &:hover{
            transform: scale(1.1);
        }
    }
}
 @media (max-width : 800px){
     .gallery{
         flex-direction: column;
         align-items: center;
         & img {
             width:65%;
             height:23rem;
         }
     }
 }