@import "../base/base.scss";
@import "../abstracts/mixins.scss";

a{
    color: $base-color;
}
.header {
    background-image: linear-gradient(to right bottom,rgba(126,213,111,0.7), rgba(40,180,133,0.8)), url("../img/hero.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover; 
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
    height: 90vh;
    position: relative;

    &__nav__links{
        display: flex;
        justify-content: center;
        padding: 2rem;

        &__link{
            margin: 1rem;
            
        }
    }
}
#home-link{
    margin-right: auto;
}

.header__content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    &__paragraph{
        font-weight: 600;
        font-size: 3rem;
        letter-spacing: 1rem;
        border: 4px solid;
        padding: 1rem;
    }
    &-button{
        @include button-default;
        background:linear-gradient(to right bottom,rgba(126,213,111,0.7), rgba(40,180,133,0.8));
    }
    
}

// Card Component

.card{
    width: 15rem;
    background-color: $base-color;
    height:90%;
    box-shadow: 0 0 0.5rem rgba(0,0,0,0.4);
    border-radius: 1rem;
    color:lightgrey;
    font-size: 1.5rem;
    text-align: center;
}
.card-top-1{@include card-top-style("../img/dunns-river.jpg");}
.card-top-2{@include card-top-style("../img/martha-brae.jpg");}
.card-top-3{@include card-top-style("../img/negril.jpg");}
.card-top-4{@include card-top-style("../img/blue-mountain.jpg");}
.card-top-5{@include card-top-style("../img/rose-hall.jpg");}
.card-top-6{@include card-top-style("../img/ys-falls.jpg");}

.card-btm{
    padding-bottom: 3rem;
    margin-top: 2rem;
    & p{
        border-bottom: 1px solid lightgrey;
        padding: 1rem;
        font-weight: bold;
    }
    &__button{
        background-color: #74b9ff;
        @include button-default;
        color:$base-color;
        display: block;
        margin-top: 7rem;
        
    }
}
.card-top__img{
    width: 90%;
    padding: 1rem;
}
.swiper-container{
    width: 85%;
    height: 100vh;
}

//  Gallery Component
.section-gallery{
    height: 80vh;
}
.gallery{
    display:flex;
    justify-content: center;
    & img{
        width:20%;
        height: 20rem;
        margin: 1rem;
        max-width:20%;
        transition: transform 400ms;
        &:hover{
            transform: scale(1.1);
        }
    }
}
 