@import "../base/base.scss";
@import "../abstracts/mixins.scss";

@import "../components/header.scss";

.header{
    @include header-style(linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url("../img/hero-airport.jpg"));
&__content-button{
color: rgb(167, 167, 167);
@include button-default(linear-gradient(rgb(255,255,255),rgb(255,255,255)));
}
}

h2{
    margin-bottom: 3rem;
    font-weight: 600;
    font-size: 2rem;
}
.services{
    color: rgb(71, 71, 71);
    margin-top:5rem;
    height: 100vh;
    font-size: 1.8rem;
    letter-spacing: 0.12rem;
    line-height: 2.7rem;
    &__heading{
        text-align: center;
        padding: 3rem;
        font-size: 4rem;
        color: rgb(82, 82, 82);
    }
    &__content{
        margin-bottom: 2rem;
    }
}