@import "../base/base.scss";
@import "../abstracts/mixins.scss";

@import "../components/header.scss";

.header{
    @include header-style(linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url("../img/hero-airport.jpg"));
&__content-button{
color: rgb(167, 167, 167);
@include button-default(linear-gradient(rgb(255,255,255),rgb(255,255,255)));
}
}

h2{
    margin-bottom: 3rem;
    font-weight: 600;
    font-size: 2rem;
}
.services{
    color: rgb(82, 82, 82);
    margin-top:5rem;
    font-size: 1.8rem;
    letter-spacing: 0.12rem;
    line-height: 2.7rem;
    &__heading{
        text-align: center;
        padding: 3rem;
        font-size: 4rem;
        color: rgb(82, 82, 82);
    }
    &__content{
        margin-bottom: 2rem;
    }
}

main{
    color:rgb(82, 82, 82);
}
h3{
    text-align: center;
    font-size: 3rem;
}
.hotels{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 7rem 4rem;
    &__hotel {
        transition: height 400ms ease-out;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.418);
        height: 5rem;
        cursor:pointer;
        border-radius:1rem;
        &__name{
            border-radius:.5rem;
            padding: 1rem;
            text-align: center;
            background-color: navy;
            color:#fff;
            
        }
    }
}
.hotels__hotel__description{
margin-top: 3rem;
color: #000;
font-size: 1.7rem;

}

 li {padding: 1rem;}

.hotels-height{
    height:20rem;
}
.hotels-hide-description{
    display: none;
}