.paypal-form {
  display: flex;
  justify-content: center;
  padding: 3rem;
}
.paypal-form__button {
  border-radius: 0.5rem;
  border: none;
  color: #fff;
  display: block;
  width: 21rem;
  padding: 2rem;
  outline: none;
  background: #3498db;
  cursor: pointer;
  font-size: 1.7rem;
}
.paypal-form__button #paypal-icon {
  width: 5.5rem;
}
