.switch-forms {
  display: flex;
  justify-content: space-around;
}
.switch-forms__form {
  margin-top: 3rem;
  padding: 1.7rem;
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.03);
  width: 23rem;
  text-align: center;
  background-color: rgb(175, 175, 175);
  color: #fff;
  border-radius: 0.2rem;
  transition: transform 400ms, box-shadow 400ms;
}
.switch-forms__form:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.153);
}
.current-form {
  background-color: #273c75;
}
.form-components {
  font-weight: bold;
  background-color: rgba(225, 243, 252, 0.199);
  width: 70%;
  margin: 10rem auto;
  padding: 2rem;
}

@media (max-width: 700px) {
  .form-components {
    width: 85%;
  }
  .switch-forms {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 420px) {
  .form-components {
    width: 100%;
  }
}
