.section-hotels-pricing {
  margin: 5rem;
}
.hotels-pricing {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding-top: 3rem;
}
.hotels-pricing__select {
  padding: 1rem;
  outline: none;
  border: none;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.096);
  font-size: 2rem;
  text-transform: capitalize;
}
.hotels-pricing__group {
  margin: 4rem 1rem;
}
.hotels-pricing__group__options {
  margin: 1rem;
}
.hotels-pricing__group__options input {
  margin: 0.5rem;
}
@media (max-width: 700px) {
  .hotels-pricing__select {
    width: 95%;
    margin: 0 auto;
    font-size: 1.5rem;
  }
}

@media (max-width: 400px) {
  .hotels-pricing__select {
    width: 100%;
  }
}
@media (max-width: 320px) {
  .hotels-pricing__select {
    font-size: 1.2rem;
  }
}
