.header {
    &__nav__links{
        display: flex;
        justify-content: center;
        padding: 2rem;

        &__link{
            margin: 1rem;
        }
    }
&__content{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        &__heading{
            font-weight: 600;
            font-size: 3rem;
            letter-spacing: 1rem;
            margin: 1rem;
        }
        
    }
}