@mixin button-default {
    padding: 1rem;
    border-radius: 0.4rem;
    margin: 2rem auto;
    box-shadow: 0 0 0.5rem rgba(0,0,0,0.3);
    cursor: pointer;
    width: 60%;
    transition: transform 400ms;
    &:hover{
        transform: translateY(-0.5rem);
    }
}

@mixin card-top-style($bg-img-url){
    height: 50%;
    margin-bottom: auto;
    background-size: cover; 
    background-image:linear-gradient(to right bottom,rgba(126,213,111,0.8), rgba(40,180,133,0.8)),url($bg-img-url);
    display: flex;
    align-items: center;
    justify-content: center;
    color: $base-color;
    font-size: 2rem;
}