$base-color: #fff;
$base-border-radius: 6px;
$base-gradient: linear-gradient(
  to right bottom,
  rgba(126, 213, 111, 0.7),
  rgba(40, 180, 133, 0.8)
);
$global-button-bg-color: #f39c12;
$global-button-color: rgba(0, 0, 0, 0.9);
$base-box-shadow: 0.2rem 0.4rem 1rem rgba(0, 0, 0, 0.2);
$base-heading-color-home: rgb(46, 213, 115);
$primary-btn-background-transfers: rgb(0, 151, 230);
$secondary-btn-background-transfers: rgb(113, 128, 147);
$hotels-content-background: rgb(72, 126, 176);
